# Postgres
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name

# InfluxDB
INFLUXDB_TOKEN=your_influxdb_token
INFLUXDB_DATABASE=ems

# JWT
JWT_SECRET_KEY=your_jwt_secret_key

# User
USER_UID=1000
USER_GID=1000